<div class="announcement">
    <a class="announcement__link" href="https://osu.ppy.sh/home/news/2021-12-02-skinning-contest-tides-of-winter-announcement">
        <img class="announcement__image" src="/img/contest-banner.jpg" alt="contest banner" />
    </a>
</div>
