
<div class="ship">
	<div class="scene">
		<svg
			xmlns="http://www.w3.org/2000/svg"
			xmlns:xlink="http://www.w3.org/1999/xlink"
			width="100%"
			height="100%"
			version="1.1"
			viewBox="192 170 128 128"
		>
			<defs>
				<linearGradient
					id="Gradient"
					x1="0.2"
					x2="0"
					y1="0.2"
					y2="1"
					gradientTransform="rotate(-80)"
				>
					<stop offset="55%" stop-color="#3dadff" />
					<stop offset="80%" stop-color="#2664c0" />
				</linearGradient>
				<mask id="myMask">
					<rect
						id="fill"
						x="0"
						y="0"
						width="512"
						height="512"
						fill="black"
					/>

					<path
						id="boat"
						d="M261.46,175v62.38H227.51C224.46,213.28,229.92,190.19,261.46,175Zm17.24,19.91H267.77v13.85H278.7Zm11.64,20h-22.5v22.51h22.5ZM296,243.39H216c0,4.49,3.58,11.58,7.81,11.58H296Z"
						fill="white"
					/>

					<path
						id="waveclip"
						d="M512,271.56c-39.8,0-54.89-15.34-85.33-15.34s-45.53,15.34-85.34,15.34S286.44,256.22,256,256.22s-45.53,15.34-85.33,15.34-54.9-15.34-85.34-15.34S39.8,271.56,0,271.56v-7c39.8,0,54.89-15.34,85.33-15.34s45.53,15.34,85.34,15.34,54.89-15.34,85.33-15.34,45.53,15.34,85.33,15.34,54.9-15.34,85.34-15.34S472.2,264.56,512,264.56Z"
						fill="black"
					/>

					<path
						id="wave"
						d="M512,271.67c-39.8,0-54.89-15.34-85.33-15.34s-45.53,15.34-85.34,15.34S286.44,256.33,256,256.33s-45.53,15.34-85.33,15.34-54.9-15.34-85.34-15.34S39.8,271.67,0,271.67V512H512"
						fill="white"
					/>

					<animateTransform
						xlink:href="#wave"
						attributeName="transform"
						attributeType="XML"
						type="translate"
						from="-84.5 0"
						to="84.5 0"
						dur="2s"
						begin="0s"
						repeatCount="indefinite"
						id="1tst"
					/>

					<animateTransform
						xlink:href="#waveclip"
						attributeName="transform"
						attributeType="XML"
						type="translate"
						from="-84.5 0"
						to="84.5 0"
						dur="2s"
						begin="0s"
						repeatCount="indefinite"
						id="2tst"
					/>

					<animateTransform
						xlink:href="#boat"
						attributeName="transform"
						attributeType="XML"
						type="translate"
						from="0 12"
						to="0 12"
						dur="4s"
						begin="0s"
						calcMode="spline"
						repeatCount="indefinite"
						values="0 12; 0 0; 0 12; 0 0; 0 12"
						keyTimes="0; 0.25; 0.5; 0.7; 1"
						keySplines="0.5 0 0.5 1;
                                                0.5 0 0.5 1;
                                                0.5 0 0.5 1;
                                                0.5 0 0.5 1"
						id="3tst"
					/>

					<animateTransform
						xlink:href="#boat"
						attributeName="transform"
						attributeType="XML"
						type="rotate"
						from="0 256 256"
						to="0 256 256"
						dur="4s"
						begin="0s"
						repeatCount="indefinite"
						values="0 256 256;
                                            10 256 256;
                                            0 256 256;
                                            -10 256 256;
                                            0 256 256;
                                            10 256 256;
                                            0 256 256;
                                            -10 256 256;
                                            0 256 256"
						keyTimes="0; 0.125; 0.25; 0.375; 0.5; 0.625; 0.7; 0.825; 1"
						keySplines="0.18 0.73 0.87 0.24;
                                                0.18 0.73 0.87 0.24;
                                                0.18 0.73 0.87 0.24;
                                                0.18 0.73 0.87 0.24;
                                                0.18 0.73 0.87 0.24;
                                                0.18 0.73 0.87 0.24;
                                                0.18 0.73 0.87 0.24;
                                                0.18 0.73 0.87 0.24;"
						additive="sum"
						id="4tst"
					/>
				</mask>
			</defs>
			<rect
				x="0"
				y="0"
				width="512"
				height="512"
				fill="url(#Gradient)"
				mask="url(#myMask)"
			/>
		</svg>
	</div>
</div>
